.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.gradeCalculationUI {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* This creates a 10px gap between items in the flex container */
}

.courseAndButton {
    display: flex;
    align-items: center;
    /* Vertically aligns items in the flex container */
    gap: 10px;
}

.courseInput,
.gradeInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    /* Allows the input to take up available space */
}

.calculateBtn {
    padding: 10px;
    background-color: #004b34;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculateBtn:hover {
    background-color: #003b24;
}