.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* Three columns */
    align-items: center;
}

.loginContainer {
    display: flex;
    justify-content: flex-end;
    /* Push contents to the right */
    padding-right: 0vw;
    /* roughly 1/10 of the viewport width from the right */
}

.logo {
    text-align: center;
}